/* Master Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 150%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
h4, h5 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 3em;
  background-color: #f7f4cf;

}
.col-xs-2 {
    text-align: center;
    height: 100vh;
}
.col-sm-9, .col-sm-3 {
    position: relative;
    height: 39vh;
}
.col-sm-7, .col-sm-5 {
    text-align: center;
    height: 34vh;
}
.col-sm-12 {
    text-align: center;
    height: 27vh;
}
.col-xs-12 {
    text-align: center;
    height: 13vh;
}
.productImg {
  position: absolute;
  margin: auto;
  top: 0; left: 0;
}
.glyphicon{
  cursor: pointer;
  font-size: 34px;
  color: #ccc;
}

#r6.glyphicon, #r7.glyphicon, #r8.glyphicon, #r9.glyphicon, #r10.glyphicon{
  cursor: pointer;
  font-size: 50px;
  color: #ccc;
}
#shoppingCart.glyphicon{
  phont-size: 5px;
}

.caption{
    padding:20px 100px 0px;
}

.ellipsis{
    text-align: center;
}

/*footer*/
.footer {
    /*padding: 0;*/
    position: relative;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #444;
    padding-left: 0;
    padding-right: 10%;
    background: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#ccc));
    background-image: linear-gradient(#fff, #ccc);
}

.footer .row div {
    color: black;
    text-align: center;
}

.footer .row ul {
    list-style: none;

}

.footer .row ul li {
    list-style-position: outside;
    text-align: center;
}

.footer .copyright {
    text-align: left;
}

.footer .row li {
    color: #444;
}

/*nav bar & background*/
.navbar-static-top {
    position: relative;
    width: 100%;
}

.container-fluid.main-content {
    margin: auto 10%;
}


.fb-img{
    margin-bottom: 5px;
    margin-right: 10px;
}

span#r10.glyphicon.glyphicon-star.star-color{
    color: white;
}

span#r9.glyphicon.glyphicon-star.star-color{
    color: white;
}

span#r8.glyphicon.glyphicon-star.star-color{
    color: white;
}

span#r7.glyphicon.glyphicon-star.star-color{
    color: white;
}

span#r6.glyphicon.glyphicon-star.star-color{
    color: white;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    background: url('../img/background.png');
    font-family: 'Droid Sans', sans-serif !important;
}

.clearfix {
    clear: both;
}

.wrap {
    width: 940px;
    margin: 4em auto;
}

nav {
    padding: 0 10px;
    position: relative;
    margin-bottom: 5px;
    margin-top: 2px;
}

.menu li {
    float: left;
    position: relative;
}

.menu li a {
    color: #444;
    display: block;
    font-size: 14px;
    line-height: 20px;
    padding: 6px 12px;
    margin: 8px 8px;
    vertical-align: middle;
    text-decoration: none;
}

.menu li a:hover {
    color: #222;
}

/* Dropdown styles */
.menu ul {
    position: absolute;
    left: -9999px;
    list-style: none;
}

.menu ul li {
    float: none;
}

.menu ul a {
    white-space: nowrap;
}

/* Displays the dropdown on hover and moves back into position */
.menu li:hover ul {
    left: 5px;
    z-index: 100;
}

/* Persistent Hover State */
.menu li:hover a {
    color: #222;
}

.menu li:hover ul a {
    background: none;
}

.menu li:hover ul li a:hover {

}

nav {
    background: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#ccc));
    background-image: linear-gradient(#fff, #ccc);
    border-radius: 6px;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.4);
    padding: 0 10px;
    position: relative;
}

.menu li a:hover {
    background: -webkit-gradient(linear, center top, center bottom, from(#ededed), to(#fff));
    background-image: linear-gradient(#ededed, #fff);
    border-radius: 12px;
    box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
    color: #222;
}

@font-face {
    font-family: 'IconicStroke';
    src: url("fonts/iconic/iconic_stroke.eot");
    src: local('IconicStroke'),
    url("fonts/iconic/iconic_stroke.svg#iconic") format('svg'),
    url("fonts/iconic/iconic_stroke.otf") format('opentype');
}

.iconic {
    color: inherit;
    font-family: "IconicStroke";
    font-size: 38px;
    line-height: 20px;
    vertical-align: middle;
}

.menu ul {
    position: absolute;
    left: -9999px;
    list-style: none;
    opacity: 0;
    transition: opacity 1s ease;
}

.menu li:hover ul {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 0 0 6px 6px;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.4);
    left: 5px;
    opacity: 1;
}

.menu li:hover a {
    background: -webkit-gradient(linear, center top, center bottom, from(#ccc), to(#ededed));
    background-image: linear-gradient(#ccc, #ededed);
    border-radius: 12px;
    box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
    color: #222;
}

.menu li:hover ul a {
    background: none;
    border-radius: 0;
    box-shadow: none;
}

.menu li:hover ul li a:hover {
    background: -webkit-gradient(linear, center top, center bottom, from(#eee), to(#fff));
    background-image: linear-gradient(#ededed, #fff);
    border-radius: 12px;
    box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, 0.3);
}


